evaluation
textual_inversion/saved_models
textual_inversion/results
textual_inversion/tmp*
textual_inversion/tmp*
textual_inversion/results*
textual_inversion/results*

dreambooth/saved_models*
dreambooth/results*

custom_diffusion/results*
custom_diffusion/saved_models*
*/attn_maps*
